<!doctype html>

<html>
  <head>
    <title>chat-window test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../web-component-tester/browser.js"></script>

    <link rel="import" href="../chat-window.html">
  </head>
  <body>

    <test-fixture id="basic">
      <template>
        <chat-window></chat-window>
      </template>
    </test-fixture>

    <script>
      suite('chat-window', function() {

        test('instantiating the element works', function() {
          var element = fixture('basic');
          assert.equal(element.is, 'chat-window');
        });

      });
    </script>
  </body>
</html>
